<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body class="m-5">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>

                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height: 100%" src="{{photo.image.url}}" alt="">

                    <p>{{photo.description}}</p>
                </div>
                
            </div>
        </div>
    </div>




    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
</body>
</html>